WorkFl Tự Động Đăng Bài Post ( Dạng context - Hình ảnh )/WF tự đăng  bài FB .json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gq5jLiaDv1FaC4dAxPtA3lkC7EjzVbfWVleZ8mw4HHI",
          "mode": "list",
          "cachedResultName": "Đăng bài tự động Facebookk",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gq5jLiaDv1FaC4dAxPtA3lkC7EjzVbfWVleZ8mw4HHI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gq5jLiaDv1FaC4dAxPtA3lkC7EjzVbfWVleZ8mw4HHI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ngày",
              "lookupValue": "={{ $now.toFormat(\"dd/MM/yyyy\") }}"
            },
            {
              "lookupColumn": "Giờ",
              "lookupValue": "={{ $now.toFormat(\"HH:mm\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        -48
      ],
      "id": "348b2529-dfe9-44c6-a5ae-a52204e878c5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k8S9p8xkw3juORdZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json['Hình ảnh'] }}",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        -48
      ],
      "id": "623ba3ed-afd2-4fa9-98b8-fc2702423ed6",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5q8gaOs2o5G84Woc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        -48
      ],
      "id": "d31b5986-ca7f-4dac-a7c0-9467297760aa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        736,
        -32
      ],
      "id": "fe68be6f-406a-41a8-a551-4b6787188a2e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5q8gaOs2o5G84Woc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "974103079119649",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "file:data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "published",
                "value": "false"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        960,
        32
      ],
      "id": "a91851aa-b637-4d11-a4c2-963f4626ddfb",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "crWwNdGHCEyCHuA1",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f41ceab7-8b0f-4abc-a154-0212acb60fda",
              "name": "media_fbid",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -240
      ],
      "id": "ee6fa561-5a4e-4fa4-ac57-ff0a4febc7e7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "attached_media",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        944,
        -240
      ],
      "id": "d380b1f9-177a-44b6-959a-4af538ca648e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $('Get row(s) in sheet').item.json[\"Nội dung\"] }}"
              },
              {
                "name": "attached_media",
                "value": "={{ $json.attached_media }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1168,
        -240
      ],
      "id": "c4e8eb4d-984d-4c23-9e23-3bd0122a2e4a",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "crWwNdGHCEyCHuA1",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gq5jLiaDv1FaC4dAxPtA3lkC7EjzVbfWVleZ8mw4HHI",
          "mode": "list",
          "cachedResultName": "Đăng bài tự động Facebookk",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gq5jLiaDv1FaC4dAxPtA3lkC7EjzVbfWVleZ8mw4HHI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Main Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gq5jLiaDv1FaC4dAxPtA3lkC7EjzVbfWVleZ8mw4HHI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Link bài post": "=https://www.facebook.com/{{ $json.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Ngày",
              "displayName": "Ngày",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Giờ",
              "displayName": "Giờ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nội dung",
              "displayName": "Nội dung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hình ảnh",
              "displayName": "Hình ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link bài post",
              "displayName": "Link bài post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng thái",
              "displayName": "Trạng thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        -240
      ],
      "id": "d6ad24b9-1168-42cb-8353-114f421b4a1b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "k8S9p8xkw3juORdZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -48
      ],
      "id": "5183fb56-8c37-4d96-9375-514b71ebbf74",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "Lên lịch để thực hiện wf"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -112
      ],
      "typeVersion": 1,
      "id": "7bff0301-b396-4989-840b-a21da7bd4174",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Lấy video muốn đăng ( khớp với ngày , giờ )",
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -112
      ],
      "typeVersion": 1,
      "id": "daa28192-3262-4eef-9b45-f902da09719e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Lấy video ra",
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -112
      ],
      "typeVersion": 1,
      "id": "a80c5ca6-8b66-4ae8-98e0-3689d7587750",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "add2ab58-c7c3-4a79-962b-c8bf8baf3c45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d8a1387f68aad652d1725d08e2cba56a6440892f58eade55de943c3b622d2bc"
  },
  "id": "YAhTLHBtkjvii0CI",
  "tags": []
}